@font-face {
    font-family: "Azeroy";
    src: url("ref/Azeroyhd-Regular.otf") format("opentype");
}

@font-face {
    font-family: "ART";
    src: url("ref/ArtOfCreation_Final-Regular.ttf") format("opentype");
}

html {
    background-color: #333;
    font-family: "Azeroy", sans-serif;
    color: var(--mauvb);
    font-style: italic;
    font-size:360%;
    color: #fff;
  text-shadow:
    0 0 5px rgb(7, 197, 64),
    0 0 10px rgb(4, 234, 73),
    0 0 20px rgb(18, 4, 174),
    0 0 40px rgb(13, 2, 117);
}
.box {
    font-family: "ART", Arial, Helvetica, sans-serif;

}
:root {
    --mauvb: rgba(229, 201, 201, 0.77);
    --maudb: rgb(140, 224, 140);
    --maukhac: rgb(108, 194, 237);
}

ul a {
    color:inherit;
    text-decoration: overline dotted rgb(150, 149, 149) 6px;
}
a:visited {
  color: inherit;
}
.dong1 {
    color: var(--maudb);
}
.dong2 {
    color: rgb(236, 161, 161);
}
ul li:hover {
    color: var(--maukhac);
}
.dong3 {
    color: #df9;
}
ul li:active {
        color:crimson;
    }
.box {
    display: flex;
    gap:20px;
    text-shadow:
    0 0 5px rgb(190, 5, 5),
    0 0 10px rgb(177, 7, 7),
    0 0 20px rgb(234, 1, 1),
    0 0 40px rgb(169, 4, 4);
    div {
    height:250px;
    width:250px;
    color:beige;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
}
}
.box::selection {
    color:rgb(69, 7, 17);
    background-color:rgb(255, 0, 200);
}
ul li::selection {
    color:rgb(38, 1, 133);
    background-color:rgb(4, 171, 54);
}

input::selection {
    color:rgb(223, 2, 2);
    background-color:rgb(123, 5, 178);
}
img::selection {
    background-color: navy;
}
.box div:active {
    background: radial-gradient(circle, rgb(225, 9, 207) 20%, rgb(0, 150, 250) 90%);
}

.box div {
    box-shadow: 0 15px 15px rgba(114, 1, 1, 0.8),
                0 15px 20px rgb(3, 242, 255);
}
.box1 {
    background: linear-gradient(red,blue);
}
.box2 {
    background: linear-gradient(45deg,yellow,green);
}
.box3 {
    background: radial-gradient(circle, #003 20%, rgb(168, 15, 171) 90%);
}

.chia {
    display: flex;
}

.hop1 ul {
    width:fit-content;
}
.trai{
    margin: 0 auto;
}
.phai{
    margin-top:120px;
    margin-right: 60px;
    display: flex ;
    justify-content: center;
    align-items: center;
}

input, textarea {
  font-family: inherit;
  color:rgb(214, 247, 247);
  text-shadow:inherit;
}
input {
    margin-top:30px;
    margin-bottom:65px;
    width:90%;
    height:10%;
    font-size:100%
}
body {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
              url("https://img.youtube.com/vi/NPWyyrft5Go/maxresdefault.jpg");
    background-size: cover;
}
.anhchinh {
    filter: hue-rotate(40deg) contrast(300%);
    border-radius: 20%;
}
.in{
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  outline: none;
  transition: all 0.3s ease;
  background:linear-gradient(red,green);
}

.in:focus {
  border-color: #007bff;
  box-shadow: 0 10px 8px rgba(0,123,255,0.3);
}
::placeholder {
    color:rgba(228, 244, 244, 0.622);
}